development:
  adapter: postgresql
  host: localhost
  port: 5432
  database: ip_monitoring_development
  user: postgres
  password: postgres

test:
  adapter: postgresql
  host: localhost
  port: 5432
  database: ip_monitoring_test
  user: postgres
  password: postgres